.loading__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin: 40px 0;
}
.loading__card {
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: #dceaf5;
  box-shadow: 0 0 10px #0001;
  background: #eef1f4;
}
.loading__card .img {
  width: 100%;
  height: 300px;
}
.loading__card .text {
  padding: 32px;
  background: #fff;
}
.loading__card .h4 {
  width: 50%;
  height: 30px;
  background: #eef1f4;
  margin-bottom: 18px;
  border-radius: 3px;
}
.loading__card .p {
  width: 100%;
  height: 20px;
  background: #eef1f4;
  margin-bottom: 6px;
  border-radius: 3px;
}
.loading__card .button {
  margin-top: 18px;
  width: 50%;
  height: 40px;
  background: #eef1f4;
  border-radius: 3px;
}
@media (max-width: 900px) {
  .loading__wrapper {
    grid-template-columns: 1fr;
  }
}
